{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
  <nav>
    <ul>
        <li><a href="{{ url_for('product_create') }}">New</a>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  {% for product in products %}
    <article class="post">
      <header>
        <div>
          <h1>{{ product['name'] }} | {{ product['sku'] }}</h1>
          <div class="about">{{ product['description'] }}</div>
        </div>
        <a class="action" href="{{ url_for('product_update', SKU=product['sku']) }}">Edit</a>
      </header>
      <p class="body">€ {{ product['price'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
